<%-include('navbar.ejs')%>
<div class="container p-4">
    <div class="row justify-content-center align-item-center">
        <div class="w-100 text-center">
            <h3>Add Party</h3>
        </div>
        <div class="col-md-5 rounded shadow p-4 mt-5">
        <form method="post" action="/save-party" id="myform">
            <label class="mb-2">Party Name <span class="text-danger">*</span> :</label>
            <input type="text" required name="name" class="form-control mb-3">
            <label class="mb-2">Party Email <span class="text-danger">*</span> :</label>
            <input type="email" required name="email" class="form-control mb-3">
            <label class="mb-2">Party Contact Number <span class="text-danger">*</span> :</label>
            <input type="number" required name="contact" class="form-control mb-3">
            <label class="mb-2">Party Address <span class="text-danger"></span> :</label>
            <textarea  name="website" class="form-control mb-3"></textarea>            
            <button class="btn btn-success text-white w-100 mt-4" type="button" onclick="sendForm()" >Save</button>
        </form>

        </div>
    </div>
</div>
<script>
    function sendForm(){
        let r=confirm('Add new party ?');
        if(r==true){
        document.getElementById("myform").submit();
        }
    }
</script>
<%-include('footer.ejs')%>